
.boxfram { margin-top: 100px; width: 90%; margin: 0 auto;}
.mtop {  margin-top: 100px; }
.ReactTable .rt-thead.-header {
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
    background: #bababa;
}
.inputbox {
    border: 1px solid #666;
    height: 30px;
    width: 250px;
    margin-right: 10px;
    border-radius: 3px;
}
.button {
    border: none;
    width: 100px;
    height: 30px;
    background: blue;
    color: white;
    border-radius: 3px;
}